.building-pic{
    width: 1190px;
    margin: 0 auto;
    padding-top: 15%;
    text-align: center;
    img{
        width: 200px;
        height: auto;
    }
    .instructions{
        padding: 10px;
    }
}